/****************************/
/* RESET */
/****************************/

*{
    box-sizing: border-box;
}

/*article, aside, details, figcaption, figure, footer, header, main, nav, section, div {*/
    /*display: block;*/
/*}*/

html {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 16px;
}

a{
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.wrapper {
     width: 960px;
     margin: 0 auto;
 }

.spacer {
    display: block;
    height: 100px;
}


/*************************************************************************************************************************************/
/*********************** VERSION DESKTOP ***********************/
/*************************************************************************************************************************************/

/****************************/
/* GRILLE */
/****************************/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/** on aligne les colonnes les unes à côté des autres avec la propriété float **/
[class*="col-"] {
    float: left;
}

/** chaque rangée de colonnes doit être enveloppée dans une div de class "row".
    on applique un clear:both sur chaque row afin d'annuler l'effet de float
    et éviter que les éléments suivants remontent et entourent le "row"**/
.row:after {
    content: "";
    clear: both;
    display: block;
}
/*END GRILLE ****************************************************/



/****************************/
/* HEADER */
/****************************/

/* liens sociaux header */
#social-link-header {
    height: 50px;
    border-bottom: 1px solid #aa9e91;
}

#social-link-header a img {
    height: 20px;
}

#social-link-header div {
    height: 50px;
    text-align: center;
}

#social-link-header img {
    margin-top: 15px;
}

#social-link-header a {
    text-align: center;
}

/* logo FL Mariage */
#logo-header {
    text-align: center;
    margin: 0 auto;
}

#logo-header img {
    width: 125px;
    position: relative;
    top: -52px;
}

#logo-header h1 {
    font-weight: 300;
    margin: 5px 0 0;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #5d5147;
    letter-spacing: 2px;
    position: relative;
    top: -55px;
}


/**** menu navigation ****/
nav {
    margin: 15px auto 80px;
    position: relative;
    width: 782px;
}

nav a.mobile_menu {
    width: 100%;
    height: 32px;
    background-size: contain;
    position: absolute;
    top: 0;
    margin-left: -10px;
    display: none;
    /*border-top: 1px solid #aa9e91;*/
    /*border-bottom: 1px solid #aa9e91;*/
    padding: 6px 0 34px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem;
    background-color: #aa9e91;
    line-height: 2rem;
}

nav ul::after {
    content: "";
    display: block;
    clear: both;
}

nav ul li:hover > ul {
    display: block;
}

nav ul>li {
    font-size: 1rem;
}

nav ul ul li {
    font-size: 0.8rem;
}

nav ul li a {
    display: inline-block;
    color: #aa9e91;
    padding: 5px 0;
    text-decoration: none;
    width: 100%;
    position: relative;
    text-transform: uppercase;
}

nav ul li a:hover, nav ul li a:active {
    color: #5d5147;
    font-weight: 400;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    padding-left: 30px;
}

nav ul ul li {
    position: relative;
}

nav > ul > li {
    float: left;
}

nav > ul > li > a {
    padding: 0 30px;
}






/****************************/
/* MAIN GLOBAL */
/****************************/

/* 4 photos fleurs */
.img-bouquets {
    text-align: center;
}

.img-bouquets img {
    margin: 0 5px;
}

/* titres */
#apropos h2, #faq h2, #temoignages h2, #laisser-temoignage h2, #preparatifs h2, #mariage h2, #engagement h2, #contact>h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: #5d5147;
    text-transform: uppercase;
    border-top: 1px solid #aa9e91;
    border-bottom: 1px solid #aa9e91;
    padding: 10px 20px;
    margin-bottom: 60px;
}

#mariage_detail h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: #5d5147;
    text-transform: uppercase;
    border-top: 1px solid #aa9e91;
    border-bottom: 1px solid #aa9e91;
    padding: 10px 0;
    margin-bottom: 30px;
}

.active {
    color: #5d5147;
    font-weight: 400;
}

strong {
    font-weight: 300;
}


/****************************/
/* MAIN PAGE D'ACCUEIL */
/****************************/

/* carousel */
#accueil section {
    text-align: center;
}

#accueil section img {
    width: 800px;
    padding: 20px;
    border: 1px solid #aa9e91;
    margin: 0 auto;
}

#accueil .flex-direction-nav {
    display: none;
}


/* citation */
#accueil section h4 {
    font-size: 1.5rem;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    /*font-style: italic;*/
    color: #aa9e91;
    margin: 30px 0 5px;
}

#accueil section h5 {
    font-size: 0.8rem;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    color: #5d5147;
    text-transform: uppercase;
    margin: 0;
}


/* aside à propos du photographe */
#accueil aside {
    margin-top: 100px;
    border-top: 1px solid #aa9e91;
    border-bottom: 1px solid #aa9e91;
}

#accueil aside>img, #accueil aside>div {
    display: inline-block;
    vertical-align: middle;
}

#accueil aside img {
    width: 20%;
}

#accueil aside div {
    width: 80%;
    padding-left: 20px;
}

#accueil aside div h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #5d5147;
    text-transform: uppercase;
    margin: 15px 0;
    padding-right: 20px;
    text-align: left;
}

#accueil aside div p {
    color: #000;
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 300;
    margin: 10px 0;
    text-align: justify;
}

#accueil aside div a {
    display: block;
    color: #aa9e91;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 15px 0;
}

#accueil aside div a:hover {
    color: #5d5147;
}


/* contactez-moi */
#accueil>a {
    display: block;
    text-align: center;
    color: #5d5147;
    border: 1px solid #aa9e91;
    width: 230px;
    height: 40px;
    line-height: 42px;
    text-transform: uppercase;
    margin: 100px auto 0;
    font-size: 1rem;
}

#accueil>a:hover, #accueil>a:active {
    background-color: #5d5147;
    color: #fff;
}



/****************************/
/* MAIN PORTFOLIO */
/****************************/

#mariage_detail>h3, #mariage_detail>a {
    text-align: center;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 1rem;
}

#mariage_detail>h3 {
    color: #5d5147;
    margin-bottom: 20px;
}

#mariage_detail>a {
    display: block;
    color: #aa9e91;
    /*background-color: #aa9e91;*/
    width: 200px;
    margin: 0 auto;
    /*line-height: 28px;*/
    /*height: 25px;*/
    font-weight: 300;
    /*text-transform: uppercase;*/
}

#mariage_detail>a:hover {
    text-decoration: underline;
}

#mariage_detail>a:active {
    color: #5d5147;
}

#fleche {
    display: none;
    background-color: #aa9e91;
    width: 30px;
    margin: auto;
    position: fixed;
    top: 70%;
    right: 0;
}

#fleche img {
    width: 100%;
}





/****************************/
/* MAIN A PROPOS */
/****************************/

/* à propos de moi */
#apropos>div img {
    float: left;
    margin: 0 20px 0 15px;
    width: 35%;
}

#apropos>div img:last-of-type {
    display: none;
}

#apropos>div div {
    margin-right: 15px;
}

#apropos>div div p {
    color: #000;
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 300;
    text-align: justify;
}

/* FAQ */
#faq div:last-of-type {
    margin-top: 60px;
}

#faq div:last-of-type h3 {
    font-size: 1rem;
    line-height: 1.4rem;
    margin: 20px 0 5px;
    text-transform: uppercase;
    font-weight: 300;
    color: #5d5147;
}

#faq div:last-of-type p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin: 0 0 30px;
    color: #000;
    text-align: justify;
    font-weight: 300;
    padding-bottom: 30px;
    border-bottom: 1px solid #aa9e91;
}

#faq div:last-of-type p:last-of-type {
    border-bottom: none;
}




/****************************/
/* MAIN TEMOIGNAGES */
/****************************/

#temoignages div h3, #temoignages div p {
    padding-left: 20px;
    font-weight: 300;
}

#temoignages div h3 {
    font-size: 1rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    margin: 0 0 10px;
    color: #5d5147;
}

#temoignages div p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: #000;
    text-align: justify;
    margin: 0;
}

/* alignement photo et texte par le bas */
#temoignages>div img, #temoignages>div div {
    display: inline-block;
    vertical-align: top;
}

#temoignages>div img {
    width: 16%;
}

#temoignages>div div {
    width: 84%;
}

#temoignages>div {
    margin-bottom: 50px;
    padding: 0 15px;
}

/* texte avant formulaire temoignage */
#laisser-temoignage>div:last-of-type>p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin: 60px 0 80px;
    color: #000;
    text-align: center;
    font-weight: 300;
    padding: 0 15px;
}






/****************************/
/* MAIN PAGE CONTACT */
/****************************/

/* nom et coordonnées Fabrice */
#contact>div:last-of-type h2 {
    text-align: center;
    font-weight: 300;
    font-size: 1.3rem;
    color: #5d5147;
    margin: 50px 0 0;
}

#contact h3, #contact h3 a {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 5px 0;
    color: #000;
}

/* texte avant formulaire */
#contact>p {
    font-size: 0.9rem;
    line-height:1.2rem;
    margin: 50px 15px 80px;
    color: #000;
    text-align: center;
    border-top: 1px solid #aa9e91;
    padding: 50px 0;
    font-weight: 300;
}








/****************************/
/* FORMULAIRES */
/****************************/

#form-contact>div, #form-temoignage>div {
    margin: 30px 0;
}

#form-contact, #form-temoignage {
    color: #000;
    padding: 0 15px;
}

#form-contact input[type=text], #form-contact input[type=tel], #form-contact input[type=email], #form-contact select, #form-temoignage input[type=text], #form-temoignage input[type=email] {
    height: 35px;
    position: relative;
    top: -8px;
}

#form-contact input[type=checkbox], #form-contact input[type=radio], #form-temoignage input[type=checkbox] {
    margin-right: 5px;
}

#form-contact>div:nth-of-type(6)>div:last-of-type, #form-contact>div:nth-of-type(7)>div:nth-of-type(2) {
    padding-left: 20px;
}

/* ligne budget photographe */
#form-contact div:nth-of-type(7), #form-temoignage div:nth-of-type(4) {
    margin: 45px 0;
}

/* select */
#form-contact select, #form-contact textarea {
    border-color: #aa9e91;
}

/* label "votre message" */
#form-contact div:nth-of-type(9) label, #form-temoignage div:nth-of-type(5) label {
    margin-bottom: 7px;
}

/* padding à l'intérieur des input et textarea */
#form-contact input, #form-temoignage input, #form-contact textarea, #form-temoignage textarea {
    padding: 10px;
}

#form-contact input[type=submit], #form-temoignage input[type=submit] {
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: #aa9e91;
    color: #fff;
    height: 35px;
    width: 200px;
    border: none;
    text-transform: uppercase;
}

#form-contact input[type=submit]:hover, #form-temoignage input[type=submit]:hover {
    background-color: #5d5147;
}

#form-contact input[type=submit]:active, #form-temoignage input[type=submit]:active {
    background-color: #5d5147;
}

/* couleur du placeholder */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:#aa9e91;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color:#aa9e91;
}


/* messages d'ereur pour type, budget et textarea */
#form-contact>div:nth-of-type(6) p, #form-contact>div:nth-of-type(7) p,#form-contact>div:nth-of-type(9) p {
    margin-top: 8px;
}

#form-contact input:focus, #form-contact select:focus, #form-contact textarea:focus, #laisser-temoignage input:focus, #laisser-temoignage textarea:focus, img, a {
    outline: none;
}

#form-temoignage>div:nth-of-type(3) div, #form-temoignage textarea, #form-contact textarea {
    margin-bottom: 10px;
}

#form-contact input, #form-contact select, #form-contact textarea, #form-temoignage input, #form-temoignage textarea {
    border: 1px solid #5d5147;
    border-radius: 0;
}


/* champs invalides */
.invalid {
    color: #ff6b70;
}

#form-contact p, #form-temoignage p {
    color: #ff6b70;
    font-size: 0.8rem;
    margin-top: 0;
}




/****************************/
/* DIALOG FORMULAIRES */
/****************************/
.ui-widget.ui-widget-content {
    border: 1px solid #ff6b70;
}

.ui-corner-all {
    border-radius: 0;
}

.ui-dialog {
    padding: 0;
}

.ui-widget-header {
    border: none;
    background: #ff6b70;
}

/* titre "confirmation" */
.ui-dialog .ui-dialog-title {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.5rem;
    padding-top: 4px;
}

#dialog p {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    color: #000;
    margin: 0 0 10px;
}

#dialog a {
    display: block;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: center;
    color: #5d5147;
    margin-top: 20px;
}

#dialog a:hover {
    color: #ff6b70;
}

.ui-dialog .ui-dialog-content {
    padding: 1.5em 1em;
}




/****************************/
/* FOOTER */
/****************************/

/* liens sociaux */
#social-link-footer {
    border-top: 1px solid #aa9e91;
    border-bottom: 1px solid #aa9e91;
    text-align: center;
    height: 105px;
}

#social-link-footer div:first-of-type {
    margin-top: 28px;
    padding-left: 80px;
}

#social-link-footer div:first-of-type a {
    display: inline-block;
    text-align: center;
    margin: 0 20px;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    background-color: #5d5147;
}

/* pictos liens sociaux */
#social-link-footer div:first-of-type img {
    width: 100%;
    padding: 5px;
}

#social-link-footer div {
    display: inline-block;
    vertical-align: middle;
}

/* mariage et savoir-faire */
#social-link-footer div:last-of-type {
    border-left: 1px solid #aa9e91;
    margin-top: 10px;
    padding-right: 100px;
}

#social-link-footer div:last-of-type a, #social-link-footer div:last-of-type p {
    display: inline-block;
    vertical-align: middle;
}

#social-link-footer div:last-of-type a {
    margin-right: 10px;
}

#social-link-footer div:last-of-type img {
    width: 70px;
}

#social-link-footer div:last-of-type p {
    width: 77px;
    text-align: left;
    color: #5d5147;
    font-size: 0.8rem;
}


/* titre instagram */
footer #img-footer h3 {
    color: #000;
    font-weight: 300;
    text-align: center;
    font-size: 0.8rem;
    text-transform: uppercase;
}

/* photos footer */
/*footer #img-footer a:first-of-type, footer #img-footer a:nth-of-type(2), footer #img-footer a:nth-of-type(3) {*/
    /*display: inline-block;*/
    /*margin-right: 13px;*/
/*}*/

footer #img-footer img {
    width: 96%;
}

footer #img-footer div a:nth-of-type(2) {
    margin: 0 4px 0 -2px;
}

footer #img-footer div a:nth-of-type(3) {
    margin-right: -2px;
}

/* copyright */
footer #img-footer p {
    color: #000;
    font-weight: 300;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.1rem;
    border-top: 1px solid #aa9e91;
    padding: 12px;
}

footer #img-footer p a {
    color: #000;
    font-weight: 300;
    font-size: 0.8rem;
}




/****************************/
/* PAGE D'ERREUR */
/****************************/

/* logo */
#header_erreur {
    position: relative;
    top: 50px;
}


#error h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-top:100px;
    color: #ff6b70;
}

#error>a {
    display: block;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    background-color: #aa9e91;
    color: #fff;
    height: 30px;
    line-height: 32px;
    text-transform: uppercase;
}

/* texte "plan du site" */
#error p {
    text-align: center;
    color: #5d5147;
    margin: 100px 0 0;
}

/* menu */
#error #plan>ul {
    text-align: center;
}

/* premiers li */
#error #plan>ul>li {
    display: inline-block;
    vertical-align: top;
    margin: 20px 35px 0;
    text-align: left;
}

#error #plan>ul>li a {
    color: #5d5147;
}

/* deuxièmes li */
#error #plan ul ul li {
    text-align: left;
}

#error #plan ul ul li a {
    color: #aa9e91;
    font-size: 0.9rem;
}

/* hover */
#error a:hover {
    color: #5d5147;
}



/*************************************************************************************************************************************/
/*********************** VERSION TABLETTE ***********************/
/*************************************************************************************************************************************/
@media only screen and (max-width: 960px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}


    /**** global ****/
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .img-bouquets img {
        width: 20%;
    }

    #logo-header img {
        width: 100px;
    }

    #logo-header h1 {
        font-size: 1.15rem;
    }


    /**** carousel ****/
    #accueil section img {
        width: 100%;
    }

    #accueil section {
        padding: 0 30px;
    }


    /**** aside photographe ****/
    #accueil aside img {
        width: 20%;
        min-width: 167px;
    }

    #accueil aside div {
        width: 77%;
    }

    #accueil aside div h3 {
        margin: 10px 0;
    }

    #accueil aside div p {
        padding-right: 10px;
    }

    #accueil aside div a {
        margin: 12px 0;
    }


    /**** portfolio ****/
    #engagement #fleche {
        display: block;
    }



    /**** page à propos ****/
    #apropos>div img:first-of-type {
        margin: 0 20px 10px;
    }

    #apropos>div div {
        margin: 0 20px;
    }



    /**** page témoignages ****/
    #temoignages>div img {
        width: 150px;
    }

    #temoignages>div div {
        width: 79%;
    }


    /**** formulaire contact et laisser un temoignage ****/
    #form-contact>div:nth-of-type(6)>div:last-of-type, #form-contact>div:nth-of-type(7)>div:nth-of-type(2) {
        padding-left: 7px;
    }




    /**** faqs ****/
    #faq div:last-of-type {
        padding: 0 30px;
    }


    /**** footer ****/
    #social-link-footer div:first-of-type a {
        margin: 0 15px;
    }

    #social-link-footer div:first-of-type {
        padding-left: 0;
    }

    #social-link-footer div:last-of-type {
        padding-right: 0;
    }




    /**** page erreur ****/
    #error #plan>ul>li {
        margin: 20px 20px 0;
    }





}









/*************************************************************************************************************************************/
/*********************** VERSION MOBILE ***********************/
/*************************************************************************************************************************************/
@media only screen and (max-width: 768px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    
    
    /**** header ****/
    #social-link-header>div:first-of-type {
        display: none;
    }

        /* icon facebook */
    #social-link-header div:nth-of-type(2) {
        text-align: left;
        padding-left: 30px;
    }
        /* icon instagram */
    #social-link-header div:nth-of-type(3) {
        text-align: left;
    }

    /* icon pinterest */
    #social-link-header div:nth-of-type(4) {
        text-align: right;
    }
    /* icon twitter */
    #social-link-header div:nth-of-type(5) {
        text-align: right;
        padding-right: 30px;
    }

    /*#social-link-header a:nth-of-type(2) {*/
        /*padding-right: 80px;*/
    /*}*/

    /*#social-link-header a:nth-of-type(3) {*/
        /*padding-left: 80px;*/
    /*}*/



    /**** menu navigation ****/
    nav {
        width: 80%;
        padding: 40px 10px 0;
        height: 0;
        overflow: hidden;
        border: 1px solid #aa9e91;
        margin: 0 auto 60px;
    }

    nav a.mobile_menu {
        display: block;
    }

    nav ul, nav ul ul {
        display: block;
        position: static;
    }

    nav > ul {
        padding: 0;
        text-align: center;
    }

    nav > ul > li {
        float: none;
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #aa9e91;
    }

    nav ul li:hover {
        background: none;
    }

    /*nav ul li a {*/
        /*display: block;*/
        /*margin: 2px 0;*/
        /*padding: 2px;*/
        /*width: auto;*/
    /*}*/

    nav a[aria-haspopup="true"]::after {
        display: none;
    }


    nav ul>li {
        font-size: 1.3rem;
    }

    nav ul ul li {
        font-size: 1rem;
    }

    nav > ul > li > a {
        padding: 0;
    }

    nav ul ul {
        padding-left: 0;
    }



    /**** carousel ****/
    #accueil section {
        padding: 0 20px;
    }



    /**** aside photographe ****/
    #accueil aside img {
        display: block;
        float: left;
        width: 170px;
        min-width: 150px;
        padding: 20px 20px 0;
    }

    #accueil aside div {
        width: 100%;
        display: block;
    }

    #accueil aside div h3 {
        margin: 20px 0 10px;
    }

    #accueil aside div p {
        padding-right: 20px;
    }




    /**** portfolio ****/
    #fleche {
        display: block;
    }



    /*!* page à propos *!*/
    /*#apropos>div img:first-of-type {*/
        /*display: none;*/
    /*}*/

    /*#apropos>div img:last-of-type {*/
        /*display: block;*/
        /*float: none;*/
        /*margin: 0 auto;*/
        /*width: 100%;*/
        /*padding: 0 20px;*/
        /*max-width: 330px;*/
    /*}*/



    /**** page témoignages ****/
    #temoignages>div img {
        display: block;
        float: left;
        margin-right: 20px;
    }

    #temoignages>div div {
        width: 100%;
        display: block;
    }

    #temoignages>div div h3, #temoignages>div div p {
        padding-left: 0;
    }

    #temoignages>div {
        padding: 0 20px;
    }



    /**** formulaire contact et laisser un temoignage ****/
    #contact>div:last-of-type h2, #contact>div:last-of-type h3, #contact>div:last-of-type h3 a {
        font-size: 1.15rem;
    }

    #form-contact label, #form-temoignage label {
        text-align: center;
        margin-bottom: 10px;
    }

    #form-contact input[type=text], #form-contact input[type=tel], #form-contact input[type=email], #form-contact select, #form-temoignage input[type=text], #form-temoignage input[type=email] {
        top:2px;
    }

    #form-contact>div:nth-of-type(6) div, #form-contact>div:nth-of-type(7) div, #form-temoignage>div:nth-of-type(3) div {
        text-align: center;
    }

    /* messages d'ereur */
    #form-contact p {
        text-align: center;
    }

    #form-contact>div:nth-of-type(6) p, #form-contact>div:nth-of-type(7) p,#form-contact>div:nth-of-type(9) p {
        margin-top: 0;
    }

    #form-temoignage p {
        text-align: center;
    }

    #form-temoignage>div:nth-of-type(3) p:first-of-type {
        display: none;
    }



    /**** footer ****/
    #social-link-footer div:first-of-type a {
        margin: 0 10px;
    }




    /**** page erreur ****/
    #error #plan>ul>li {
        display: block;
        margin: 20px 0;
    }

    #error #plan>ul>li {
        text-align: center;
    }

    #error #plan ul ul li {
        text-align: center;
    }


}







/*************************************************************************************************************************************/
/*********************** VERSION MOBILE XS ***********************/
/*************************************************************************************************************************************/


@media only screen and (max-width: 550px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}



    /**** carousel ****/
    #accueil section {
        padding: 0;
    }


    /* page à propos */
    #apropos>div img:first-of-type {
        display: none;
    }

    #apropos>div img:last-of-type {
        display: block;
        float: none;
        margin: 0 auto;
        width: 100%;
        padding: 0 20px;
        max-width: 500px;
    }


    /**** page témoignages ****/
    #temoignages>div img {
        display: block;
        float: none;
        margin: 0 auto 10px;
    }

    #temoignages div h3 {
        text-align: center;
    }


    /**** formulaires ****/
    #contact>div:last-of-type h2, #contact>div:last-of-type h3, #contact>div:last-of-type h3 a {
        font-size: 1rem;
    }

    #form-contact>div:nth-of-type(6) div, #form-contact>div:nth-of-type(7) div, #form-temoignage>div:nth-of-type(3) div {
        margin-bottom: 10px;
        text-align: left;
        padding-left: 25%;
    }

    #form-contact>div:nth-of-type(6) div:last-of-type, #form-contact>div:nth-of-type(7) div:nth-of-type(2) {
        padding-left: 25%;
    }

    /* messages d'erreur */
    #form-contact>div:nth-of-type(6) p:first-of-type, #form-contact>div:nth-of-type(7) p:first-of-type  {
        display: none;
    }



    /**** footer ****/
    #social-link-footer {
        height: 75px;
    }

    #social-link-footer>div:first-of-type {
        margin-top: 20px;
    }

    #social-link-footer div:first-of-type a {
        margin: 0 5px;
        width: 35px;
        height: 35px;
    }

    #social-link-footer div:first-of-type img {
        width: 100%;
    }

    #social-link-footer div:last-of-type img {
        width: 50px;
    }

    #social-link-footer div:last-of-type p {
        display: none;
    }

    #img-footer h3, #img-footer div {
        display: none;
    }

    footer #img-footer p {
        border: none;
    }



}







