/****************************/
/* RESET */
/****************************/

*{
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, div {
    display: block;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

a{
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.wrapper {
     width: 960px;
     margin: 0 auto;
 }

.spacer {
    display: block;
    height: 100px;
}


/*************************************************************************************************************************************/
/*********************** VERSION DESKTOP ***********************/
/*************************************************************************************************************************************/

/****************************/
/* GRILLE */
/****************************/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/** on aligne les colonnes les unes à côté des autres avec la propriété float **/
[class*="col-"] {
    float: left;
}

/** chaque rangée de colonnes doit être enveloppée dans une div de class "row".
    on applique un clear:both sur chaque row afin d'annuler l'effet de float
    et éviter que les éléments suivants remontent et entourent le "row"**/
.row:after {
    content: "";
    clear: both;
    display: block;
}
/*END GRILLE ****************************************************/



/****************************/
/* HEADER */
/****************************/

/* liens sociaux header */
#social-link-header {
    height: 50px;
    border-bottom: 1px solid #cacaca;
}

#social-link-header img {
    margin-top: 15px;
}

#social-link-header a {
    display: inline-block;
    margin: 0 30px;
    float: right;
    text-align: center;
}

/* logo FL Mariage */
#logo-header {
    text-align: center;
    margin: 0 auto;
}

#logo-header img {
    width: 70px;
    position: relative;
    top: -20px;
}

#logo-header h1 {
    font-weight: 300;
    margin: 0px;
    font-size: 26px;
    position: relative;
    top: -20px;
}


/**** menu navigation ****/
nav {
    margin: 80px auto;
    position: relative;
    /*text-align: center;*/
    width: 782px;
}

nav a.mobile_menu {
    width: 100%;
    height: 32px;
    background-size: contain;
    position: absolute;
    top: 0;
    margin-left: -16px;
    display: none;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    padding: 10px 0 30px;
    text-align: center;
    color: #cacaca;
    text-transform: uppercase;
}

nav ul::after {
    content: "";
    display: block;
    clear: both;
}

nav ul li:hover > ul {
    display: block;
}

nav ul>li {
    font-size: 1.2rem;
}

nav ul ul li {
    font-size: 0.9rem;
}

nav ul li a {
    display: inline-block;
    color: #cacaca;
    padding: 5px 30px;
    text-decoration: none;
    width: 300px;
    position: relative;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #6a6a6a;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

nav ul ul li {
    position: relative;
}

nav > ul > li {
    float: left;
}

nav > ul > li > a {
    padding: 0 30px;
    width: auto;
}






/* menu navigation */
/*nav {*/
/*margin: 80px auto;*/
/*text-align: center;*/
/*}*/

/*nav #menu>li {*/
/*display: inline-block;*/
/*position: relative;*/
/*font-size: 1.2rem;*/
/*font-weight: 300;*/
/*}*/

/*nav  #menu ul li {*/
/*display: inherit;*/
/*text-align: left;*/
/*font-size: 0.9rem;*/
/*text-transform: uppercase;*/
/*}*/

/*nav #menu ul{*/
/*position:absolute;*/
/*width: 400px;*/
/*z-index: 1000;*/
/*max-height:0;*/
/*left: 0;*/
/*right: 0;*/
/*overflow:hidden;*/
/*-moz-transition: .4s all .1s;*/
/*-webkit-transition: .4s all .1s;*/
/*transition: .4s all .1s;*/
/*}*/

/*nav #menu li:hover ul {*/
/*max-height: 120px;*/
/*}*/

/*nav #menu li a:hover {*/
/*color: #6c6c6c;*/
/*}*/

/*nav #menu a {*/
/*text-decoration:none;*/
/*display:block;*/
/*padding:5px 38px;*/
/*color: #cacaca;*/

/*}*/

/*nav #menu li:hover li a {*/
/*text-transform: inherit;*/
/*}*/




/****************************/
/* MAIN GLOBAL */
/****************************/

/* 4 photos fleurs */
.img-bouquets {
    text-align: center;
}

.img-bouquets img {
    margin: 0 5px;
}

/* titres */
#apropos h2, #faq h2, #temoignages h2, #laisser-temoignage h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 100;
    color: #6c6c6c;
    text-transform: uppercase;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    padding: 10px 0;
    margin-bottom: 100px;
}




/****************************/
/* MAIN PAGE D'ACCUEIL */
/****************************/


#carousel {
    text-align: center;
}

#carousel img {
    width: 800px;
    padding: 20px;
    border: 1px solid #cacaca;
}

/* citation */
#carousel h4 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
    color: #cacaca;
    margin: 30px 0 5px;
}

/* auteur citation */
#carousel h5 {
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #6c6c6c;
    text-transform: uppercase;
    margin: 0;
}

/* aside à propos du photographe */
#a-propos-photographe {
    margin-top: 100px;
}

#a-propos-photographe div {
    height: 160px;
    padding-left: 30px;
    text-align: justify;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
}

#a-propos-photographe div h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #6c6c6c;
    text-transform: uppercase;
    margin: 10px 0;
}

#a-propos-photographe div p {
    color: #6c6c6c;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 10px 0;
}

#a-propos-photographe div a {
    color: #cacaca;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 10px 0;
}

#a-propos-photographe div a:hover {
    color: #6c6c6c;
}








/****************************/
/* MAIN A PROPOS */
/****************************/

/* à propos de moi */
#apropos p {
    margin-top: 0;
    color: #6c6c6c;
    padding-left: 40px;
    text-align: justify;
}

/* FAQ */
#faq div:last-of-type {
    margin-top: 100px;
}

#faq div:last-of-type h3 {
    margin: 20px 0 5px;
    text-transform: uppercase;
    font-weight: 300;
}

#faq div:last-of-type p {
    margin: 0 0 30px;
    color: #6c6c6c;
    text-align: justify;
    font-weight: 100;
    padding-bottom: 30px;
    border-bottom: 1px solid #cacaca;
}

#faq div:last-of-type p:last-of-type {
    border-bottom: none;
}




/****************************/
/* MAIN TEMOIGNAGES */
/****************************/

#temoignages div h3, #temoignages div p {
    padding-left: 30px;
    font-size: 1rem;
    font-weight: 100;
}

#temoignages div h3 {
    text-transform: uppercase;
    margin: 0 0 10px;
}

#temoignages div p {
    color: #6c6c6c;
    text-align: justify;
    margin: 0;
}

/* alignement photo et texte par le bas */
#temoignages>div img, #temoignages>div div {
    display: inline-block;
    vertical-align: bottom;
}

#temoignages>div img {
    width: 16%;
}

#temoignages>div div {
    width: 84%;
}

#temoignages>div {
    margin-bottom: 50px;
}

/* texte avant formulaire */
#laisser-temoignage p {
    margin: 50px 0 80px;
    color: #6c6c6c;
    text-align: center;
    padding-top: 50px;
    font-weight: 100;
}



/****************************/
/* MAIN PAGE CONTACT */
/****************************/

/* nom et coordonnées Fabrice */
#contact h2 {
    text-align: center;
    font-weight: 100;
    font-style: italic;
    font-size: 1.3rem;
    color: #6c6c6c;
    margin: 50px 0 0;
}

#contact h3, #contact h3 a {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 5px 0;
    color: black;
}

/* texte avant formulaire */
#contact p {
    margin: 50px 0 80px;
    color: #6c6c6c;
    text-align: center;
    border-top: 1px solid #cacaca;
    padding-top: 50px;
    font-weight: 100;
}




/****************************/
/* FORMULAIRES */
/****************************/




/****** formulaire contact ******/
#form-contact>div, #form-temoignage>div {
    margin: 30px 0;
}

#form-contact label, #form-temoignage {
    color: #6c6c6c;
}

#form-contact input[type=text], #form-contact input[type=tel], #form-contact input[type=email], #form-contact select, #form-temoignage input[type=text], #form-temoignage input[type=email] {
    height: 35px;
    position: relative;
    top: -8px;
}

#form-contact input[type=checkbox], #form-contact input[type=radio], #form-temoignage input[type=checkbox] {
    margin-right: 5px;
}

/* ligne budget photographe */
#form-contact div:nth-of-type(7), #form-temoignage div:nth-of-type(4) {
    margin: 45px 0;
}

/* select */
#form-contact select {
    border-color: #cacaca;
}

/* label "votre message" */
#form-contact div:nth-of-type(9) label, #form-temoignage div:nth-of-type(5) label {
    margin-bottom: 7px;
}

/* padding left à l'intérieur des input */
#form-contact input, #form-temoignage input {
    padding-left: 10px;
}

#form-contact input[type=submit], #form-temoignage input[type=submit] {
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: #6c6c6c;
    color: #fff;
    height: 35px;
    width: 300px;
    border: none;
    text-transform: uppercase;
    margin-top: 80px;
}




/****************************/
/* FOOTER */
/****************************/

/* liens sociaux */
#social-link-footer {
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    text-align: center;
    height: 105px;
}

#social-link-footer div:first-of-type {
    margin-top: 30px;
    padding-left: 80px;
}

#social-link-footer div:first-of-type a {
    display: inline-block;
    text-align: center;
    margin: 0 20px;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    background-color: #6c6c6c;
}

#social-link-footer div:first-of-type img {
    padding: 8px;
}

#social-link-footer div {
    display: inline-block;
    vertical-align: middle;
}

/* mariage et savoir-faire */
#social-link-footer div:last-of-type {
    border-left: 1px solid #6c6c6c;
    margin-top: 7px;
    padding-right: 100px;
}

#social-link-footer div:last-of-type a, #social-link-footer div:last-of-type p {
    display: inline-block;
    vertical-align: middle;
}

#social-link-footer div:last-of-type a {
    margin-right: 10px;
}

#social-link-footer div:last-of-type img {
    width: 70px;
}

#social-link-footer div:last-of-type p {
    width: 64px;
    text-align: left;
    color: #6c6c6c;
    font-size: 0.8rem;
}


/* titre instagram */
footer #img-footer h3 {
    color: #6c6c6c;
    font-weight: 300;
    text-align: center;
    font-size: 0.8rem;
    text-transform: uppercase;
}

/* photos footer */
footer #img-footer a:first-of-type, footer #img-footer a:nth-of-type(2), footer #img-footer a:nth-of-type(3) {
    display: inline-block;
    margin-right: 13px;
}

/* copyright */
footer #img-footer p {
    color: #6c6c6c;
    font-weight: 300;
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px solid #cacaca;
    padding: 12px;
}

footer #img-footer p a {
    color: #6c6c6c;
    font-weight: 300;
    font-size: 0.8rem;
}






/*************************************************************************************************************************************/
/*********************** VERSION TABLETTE ***********************/
/*************************************************************************************************************************************/
@media only screen and (max-width: 960px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .wrapper {
        width: 100%;
        margin: 0 auto;
    }

    #carousel img {
        width: 100%;
    }











}









/*************************************************************************************************************************************/
/*********************** VERSION MOBILE ***********************/
/*************************************************************************************************************************************/
@media only screen and (max-width: 625px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}




    /* menu navigation */
    nav {
        width: 100%;
        padding: 50px 15px 20px;
        height: 0;
        overflow: hidden;
    }

    nav a.mobile_menu {
        display: block;
    }

    nav ul, nav ul ul {
        display: block;
        position: static;
    }

    nav > ul {
        padding: 0;
        text-align: center;
    }

    nav > ul > li {
        float: none;
        margin-top: 25px;
        padding-bottom: 15px;
        border-bottom: 1px solid #cacaca;
    }

    nav ul li:hover {
        background: none;
    }

    nav ul li a {
        display: block;
        margin: 2px 0;
        padding: 2px;
        /*border-bottom: 1px solid #cacaca;*/
        width: auto;
    }

    nav ul ul ul li a {
        margin-left: 60px;
    }

    nav a[aria-haspopup="true"]::after {
        display: none;
    }




    /*nav {*/
        /*margin: 80px auto;*/
        /*text-align: center;*/
    /*}*/

    /*nav #menu>li {*/
        /*display: block;*/
        /*font-size: 1.5rem;*/
    /*}*/

    /*nav  #menu ul li {*/
        /*text-align: center;*/
        /*font-size: 1.2rem;*/
    /*}*/

    /*nav #menu ul{*/
    /*position:absolute;*/
    /*width: 100%;*/
    /*z-index: 1000;*/
    /*max-height:0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*overflow: visible;*/
    /*-moz-transition: .4s all .1s;*/
    /*-webkit-transition: .4s all .1s;*/
    /*transition: .4s all .1s;*/
    /*}*/

    /*nav #menu li:hover ul {*/
        /*max-height: 120px;*/
    /*}*/

    /*nav #menu li a:hover {*/
        /*color: #6c6c6c;*/
    /*}*/

    /*nav #menu a {*/
        /*text-decoration:none;*/
        /*display:block;*/
    /*}*/

    /*nav #menu li:hover li a {*/
        /*text-transform: inherit;*/
    /*}*/





}