/*
**************************
CONTENT
**************************
*/
.content {
    position: relative;
    width: 1140px;
    margin: 50px auto;
}


/*
**************************
PORTFOLIO GRID
**************************
*/

#ajax-content {
    width: 100%;
}

.portfolio-grid {
    width: 960px;
    position: relative;
    margin: 30px auto;
    overflow: hidden;
}

li.grid-item {
    width: 320px;
    position: relative;
    float: left;
    padding: 15px;
}

.grid-hover {
    position: absolute;
    width: 320px;
    height: 100%;
    top: 0;
    background: white;
    z-index: 2;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.grid-hover:hover {
    opacity: 0.85;
}

.grid-hover h1 {
    font-size: 1rem;
    bottom: 45px;
    left: 20px;
    position: absolute;
    text-transform: uppercase;
    color: #6a6a6a;
    font-weight: 300;
    line-height: 1.2rem;
    width: 250px;
}

.grid-hover p {
    font-size: 0.7rem;
    bottom: 20px;
    left: 20px;
    position: absolute;
    color: #cacaca;
    font-weight: 400;
}

li.grid-item img {
    width: 100%;
}



/*
**************************
RESPONSIVE
**************************
*/

@media all and (max-width: 960px) and (min-width: 769px) {

    .portfolio-grid, .grid-hover {
        width: 100%;
    }

    li.grid-item {
        width: 50%;
    }

    .grid-hover h1 {
        width: 350px;
    }

}


@media all and (max-width: 768px) and (min-width: 320px) {

    .portfolio-grid {
        width: 100%;
    }

    .grid-hover, li.grid-item, li.grid-item img {
        width: 100%;
    }

    .grid-hover h1 {
        width: 350px;
    }
}


